<html lang="en"
      style="font-size: 76.9167px;"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>数据可视化</title>
  <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body style="font-size: 12px;">
<!-- 头部 -->
<header>
  <h1>数据可视化-ECharts</h1>
  <div class="show-time">当前时间：2023年4月4日-18时2分11秒</div>
  <script>
    var t = null;
    t = setTimeout(time, 1000); //开始运行
    function time() {
      clearTimeout(t); //清除定时器
      dt = new Date();
      var y = dt.getFullYear();
      var mt = dt.getMonth() + 1;
      var day = dt.getDate();
      var h = dt.getHours(); //获取时
      var m = dt.getMinutes(); //获取分
      var s = dt.getSeconds(); //获取秒
      document.querySelector(".show-time").innerHTML =
              "当前时间：" +
              y +
              "年" +
              mt +
              "月" +
              day +
              "日-" +
              h +
              "时" +
              m +
              "分" +
              s +
              "秒";
      t = setTimeout(time, 1000); //设定定时器，循环运行
    }
  </script>
</header>

<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="width: 90%;height:90%;"></div>
<!-- 页面主体 -->
<!--<section class="mainbox">-->
<!--  &lt;!&ndash; 左侧盒子 &ndash;&gt;-->
<!--  <div class="column">-->
<!--    <div class="panel bar">-->
<!--      <h2>柱形图-就业行业</h2>-->
<!--      &lt;!&ndash; 图表放置盒子 &ndash;&gt;-->
<!--      <div class="chart" _echarts_instance_="ec_1680602294272"-->
<!--           style="-webkit-tap-highlight-color: transparent; user-select: none; position: relative;">-->
<!--        <div style="position: relative; overflow: hidden; width: 462px; height: 231px; padding: 0px; margin: 0px; border-width: 0px; cursor: default;">-->
<!--          <canvas data-zr-dom-id="zr_0" width="462" height="231"-->
<!--                  style="position: absolute; left: 0px; top: 0px; width: 462px; height: 231px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas>-->
<!--        </div>-->
<!--        <div style="position: absolute; display: none; border-style: solid; white-space: nowrap; z-index: 9999999; transition: left 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s, top 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s; background-color: rgba(50, 50, 50, 0.7); border-width: 0px; border-color: rgb(51, 51, 51); border-radius: 4px; color: rgb(255, 255, 255); font: 14px / 21px quot;Microsoft: YaHei quot;; padding: 5px; left: 227px; top: 93px; pointer-events: none;">-->
<!--          社交行业<br><span-->
<!--                style="display:inline-block;margin-right:5px;border-radius:10px;width:10px;height:10px;background-color:#2f89cf;"></span>直接访问:-->
<!--          1,200-->
<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash; 伪元素绘制盒子下边角 &ndash;&gt;-->
<!--      <div class="panel-footer"></div>-->
<!--    </div>-->
<!--  </div>-->

<!--</section>-->

<script th:src="@{/js/flexible.js}"></script>
<script th:src="@{/js/echarts.min.js}"></script>
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/cookie.js}"></script>
<!--<script th:src="@{/js/index.js}"></script>-->
<script>
  (function () {
    // 1.实例化对象
    var myChart = echarts.init(document.getElementById('main'));
    // var myChart = echarts.init(document.querySelector("main"));
    // 2.指定配置项和数据
    var option = {
      color: ['#2f89cf'],
      // 提示框组件
      tooltip: {
        trigger: 'axis',
        axisPointer: { // 坐标轴指示器，坐标轴触发有效
          type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
        }
      },
      // 修改图表位置大小
      grid: {
        left: '0%',
        top: '10px',
        right: '0%',
        bottom: '4%',
        containLabel: true
      },
      // x轴相关配置
      xAxis: [{
        type: 'category',
        data: ["贷记卡", "第三方", "ETC", "工资代发", "贷款还本", "贷款还息", "社保医保", "商户交易", "手机银行"],
        axisTick: {
          alignWithLabel: true
        },
        // 修改刻度标签，相关样式
        axisLabel: {
          color: "rgba(255,255,255,0.8)",
          fontSize: 10
        },
        // x轴样式不显示
        axisLine: {
          show: false
        }
      }],
      // y轴相关配置
      yAxis: [{
        type: 'value',
        // 修改刻度标签，相关样式
        axisLabel: {
          color: "rgba(255,255,255,0.6)",
          fontSize: 12
        },
        // y轴样式修改
        axisLine: {
          lineStyle: {
            color: "rgba(255,255,255,0.6)",
            width: 2
          }
        },
        // y轴分割线的颜色
        splitLine: {
          lineStyle: {
            color: "rgba(255,255,255,0.1)"
          }
        }
      }],
      // 系列列表配置
      series: [{
        name: '总交易金额',
        type: 'bar',
        barWidth: '35%',
        // ajax传动态数据
        data: [10,20,30,15,37,5,8],
        itemStyle: {
          // 修改柱子圆角
          barBorderRadius: 5
        }
      }]
    };
    // 3.把配置项给实例对象
    // console.log(option);
    // myChart.setOption(option);

    // 4.让图表随屏幕自适应
    window.addEventListener('resize', function () {
      myChart.resize();
    })

    window.onload = function () {
      $.ajax({
        type: "GET",
        url: "http://localhost:8080/charts/all",
        success: function (data) {
          console.log('get all succeed');
          option.series[0].data = data;
          console.log(option);
          myChart.setOption(option);
        }
      })
    }

    myChart.on('click', function (params) {
      console.log(params);
      var name = params.name;
      setCookie('type', name);
      window.open('http://localhost:8080/actualType', '_self');
    })
  })();

</script>

</body>
</html>